In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.metrics import mean_absolute_error, classification_report
import pickle

In [9]:
# Load dataset
data = pd.read_csv("Car_Resale_Price_Data.csv")

In [11]:
data

,Car ID,Car Name,Model Year,engine_capacity,transmission_type,Kms_driven,owner_type,fuel_type,body_type,resale_price
0,1,Maruti,2017,1197,Manual,40000,First Owner,Petrol,Hatchback,545000
1,2,Tata,2018,2179,Automatic,70000,First Owner,Diesel,MUV,1000000
2,3,Maruti,2015,1197,Manual,70000,Second Owner,Petrol,Sedan,450000
3,4,Maruti,2015,1197,Manual,70000,Second Owner,Petrol,Sedan,450000
4,5,Hyundai,2009,1086,Manual,80000,First Owner,Petrol,Hatchback,160000
5,6,Hyundai,2015,1197,Manual,70000,First Owner,Petrol,Hatchback,470000
6,7,Tata,2017,1047,Manual,120000,First Owner,Diesel,Hatchback,360000
7,8,Hyundai,2010,1086,Manual,60000,Second Owner,Petrol,Hatchback,200000
8,9,Maruti,2016,1196,Manual,20000,First Owner,Petrol,Minivans,370000
9,10,Hyundai,2009,1086,Manual,30000,First Owner,Petrol,Hatchback,120000
10,11,Honda,2014,1198,Manual,70000,First Owner,Petrol,Sedan,330000
11,12,Hyundai,2018,1197,Manual,60000,Second Owner,Petrol,Sedan,475000
12,13,Maruti,2020,1462,Manual,50000,Third Owner,Petrol,Sedan,686000
13,14,Hyundai,2021,1493,Manual,60000,First Owner,Diesel,SUV,1250000
14,15,Hyundai,2021,1396,Manual,60000,First Owner,Diesel,SUV,1100000
15,16,Maruti,2019,998,Automatic,20000,First Owner,Petrol,Hatchback,395000
16,17,Maruti,2016,998,Manual,40000,First Owner,CNG,Hatchback,350000
17,18,Toyota,2011,1496,Manual,50000,Second Owner,Petrol,Sedan,289000
18,19,Toyota,2011,1364,Manual,150000,First Owner,Diesel,Sedan,282000
19,20,Kia,2021,998,Manual,10000,First Owner,Petrol,SUV,1000000
20,21,Maruti,2020,1462,Manual,30000,Second Owner,Petrol,Sedan,785000
21,22,Ford,2014,1498,Manual,150000,Third Owner,Diesel,SUV,300000
22,23,Mitsubishi,2011,2360,Automatic,80000,Second Owner,Petrol,SUV,397000
23,24,Maruti,2015,1248,Manual,20000,First Owner,Diesel,Sedan,375000
24,25,Maruti,2011,998,Manual,120000,Third Owner,Petrol,Hatchback,100000
25,26,Mitsubishi,2011,2360,Automatic,80000,Second Owner,Petrol,SUV,397000
26,27,Maruti,2021,1197,Manual,40000,First Owner,Petrol,Hatchback,675000
27,28,Hyundai,2018,1197,Manual,60000,Second Owner,Petrol,Sedan,465000
28,29,Maruti,2015,1197,Manual,80000,Second Owner,Petrol,Sedan,480000
29,30,Maruti,2014,796,Manual,100000,First Owner,Petrol,Hatchback,225000
30,31,Maruti,2016,998,Manual,70000,Second Owner,Petrol,Hatchback,320000
31,32,Hyundai,2015,1197,Manual,30000,First Owner,Petrol,Hatchback,415000
32,33,Maruti,2012,1248,Manual,120000,Third Owner,Diesel,Hatchback,240000
33,34,Mahindra,2013,2179,Manual,100000,Third Owner,Diesel,SUV,350000
34,35,Mahindra,2013,2179,Manual,100000,Third Owner,Diesel,SUV,350000
35,36,Tata,2013,2179,Manual,90000,Second Owner,Diesel,SUV,296000
36,37,Tata,2013,2179,Manual,90000,Second Owner,Diesel,SUV,296000
37,38,Tata,2018,1199,Manual,100000,First Owner,Petrol,Hatchback,316000
38,39,Maruti,2017,1248,Manual,100000,Second Owner,Diesel,SUV,750000
39,40,Maruti,2019,1248,Manual,120000,First Owner,Diesel,MUV,900000
40,41,Maruti,2022,998,Manual,10000,First Owner,Petrol,Hatchback,560000
41,42,Maruti,2017,1248,Manual,150000,First Owner,Diesel,SUV,800000
42,43,Hyundai,2017,1396,Manual,120000,Second Owner,Diesel,SUV,900000
43,44,Maruti,2019,796,Manual,80000,First Owner,Petrol,Hatchback,280000
44,45,Toyota,2013,2494,Manual,90000,Second Owner,Diesel,Toyota,550000
45,46,Toyota,2009,2494,Manual,150000,First Owner,Diesel,MUV,250000
46,47,Tata,2011,1248,Manual,150000,First Owner,Diesel,Sedan,150000
47,48,Tata,2011,1248,Manual,150000,First Owner,Diesel,Sedan,150000
48,49,Hyundai,2017,1186,Manual,20000,First Owner,Diesel,Hatchback,480000
49,50,Maruti,2017,1196,Manual,150000,First Owner,CNG,Minivans,300000

In [13]:
# Label Encoding for categorical variables
for col in ["Car Name", "transmission_type", "owner_type", "fuel_type", "body_type"]:
    data[col] = LabelEncoder().fit_transform(data[col])

In [15]:
data

,Car ID,Car Name,Model Year,engine_capacity,transmission_type,Kms_driven,owner_type,fuel_type,body_type,resale_price
0,1,5,2017,1197,1,40000,0,2,0,545000
1,2,7,2018,2179,0,70000,0,1,1,1000000
2,3,5,2015,1197,1,70000,1,2,4,450000
3,4,5,2015,1197,1,70000,1,2,4,450000
4,5,2,2009,1086,1,80000,0,2,0,160000
5,6,2,2015,1197,1,70000,0,2,0,470000
6,7,7,2017,1047,1,120000,0,1,0,360000
7,8,2,2010,1086,1,60000,1,2,0,200000
8,9,5,2016,1196,1,20000,0,2,2,370000
9,10,2,2009,1086,1,30000,0,2,0,120000
10,11,1,2014,1198,1,70000,0,2,4,330000
11,12,2,2018,1197,1,60000,1,2,4,475000
12,13,5,2020,1462,1,50000,2,2,4,686000
13,14,2,2021,1493,1,60000,0,1,3,1250000
14,15,2,2021,1396,1,60000,0,1,3,1100000
15,16,5,2019,998,0,20000,0,2,0,395000
16,17,5,2016,998,1,40000,0,0,0,350000
17,18,8,2011,1496,1,50000,1,2,4,289000
18,19,8,2011,1364,1,150000,0,1,4,282000
19,20,3,2021,998,1,10000,0,2,3,1000000
20,21,5,2020,1462,1,30000,1,2,4,785000
21,22,0,2014,1498,1,150000,2,1,3,300000
22,23,6,2011,2360,0,80000,1,2,3,397000
23,24,5,2015,1248,1,20000,0,1,4,375000
24,25,5,2011,998,1,120000,2,2,0,100000
25,26,6,2011,2360,0,80000,1,2,3,397000
26,27,5,2021,1197,1,40000,0,2,0,675000
27,28,2,2018,1197,1,60000,1,2,4,465000
28,29,5,2015,1197,1,80000,1,2,4,480000
29,30,5,2014,796,1,100000,0,2,0,225000
30,31,5,2016,998,1,70000,1,2,0,320000
31,32,2,2015,1197,1,30000,0,2,0,415000
32,33,5,2012,1248,1,120000,2,1,0,240000
33,34,4,2013,2179,1,100000,2,1,3,350000
34,35,4,2013,2179,1,100000,2,1,3,350000
35,36,7,2013,2179,1,90000,1,1,3,296000
36,37,7,2013,2179,1,90000,1,1,3,296000
37,38,7,2018,1199,1,100000,0,2,0,316000
38,39,5,2017,1248,1,100000,1,1,3,750000
39,40,5,2019,1248,1,120000,0,1,1,900000
40,41,5,2022,998,1,10000,0,2,0,560000
41,42,5,2017,1248,1,150000,0,1,3,800000
42,43,2,2017,1396,1,120000,1,1,3,900000
43,44,5,2019,796,1,80000,0,2,0,280000
44,45,8,2013,2494,1,90000,1,1,5,550000
45,46,8,2009,2494,1,150000,0,1,1,250000
46,47,7,2011,1248,1,150000,0,1,4,150000
47,48,7,2011,1248,1,150000,0,1,4,150000
48,49,2,2017,1186,1,20000,0,1,0,480000
49,50,5,2017,1196,1,150000,0,0,2,300000

In [17]:
data.isna().sum()

Car ID               0
Car Name             0
Model Year           0
engine_capacity      0
transmission_type    0
Kms_driven           0
owner_type           0
fuel_type            0
body_type            0
resale_price         0
dtype: int64

In [19]:
data.to_csv("Preprocessed_Car_Resale_Price_Data.csv",index=False) # index false means ignore the repeating data